<section class="auth vh-100">
  <div class="container">
     <div class="row justify-content-center align-items-center vh-100">
         <div class="col-md-6 w-100">
           <div class="auth-card p-5">
             <div class="mx-auto w-50 text-center ">
               <img class="w-75" src="../../assets/img/Auth/logo.svg" alt="">
             </div>
                   <h1>Forgot Your Password?</h1>
                   <p>No worries! Please enter your email and we will send a password reset link</p>
                   <form [formGroup]="forgetForm" (ngSubmit)="onForgetForm(forgetForm)">
                     <div class="mb-3">
                       <div class="input-group  input-group-lg">
                         <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
                         <input formControlName="email" type="text" class="form-control input-lg" placeholder="Enter your E-mail"
                           aria-label="Username" aria-describedby="basic-addon1">
                       </div>
                       <ng-container *ngIf="(email?.touched||email?.value)&& email?.errors" class="invalid">
                         <p class="text-danger" *ngIf="email?.getError('required')">Email is Required</p>
                         <p class="text-danger" *ngIf="email?.getError('email')">Email invalid format</p>
                       </ng-container>
                     </div>

                     <button class="primary w-100 my-4" type="submit">Submit</button>
                   </form>
           </div>

         </div>
     </div>
  </div>
</section>

