<section class="sider-bar bg-dark-main vh-100 position-fixed ">
<div class="w-100"><img src="../../../assets/img/siderbar/logo.svg" alt=""></div>

<div class="mt-5">
  <ul class="px-0">
    <ng-container *ngFor="let item of menue">
      <li *ngIf="item.isActive" >
        <a [routerLink]="item.link" routerLinkActive="active-ul" class="item">
          <span><i [class]="item.icon"></i></span>
          <span>{{item.text}}</span>
        </a>

      </li>
    </ng-container>

  </ul>
</div>
</section>
