<section>
  <div class="page-home">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-8 w-50 mx-5">

            <h1>Welcome <span>{{UserName}}!</span></h1>
            <p>This is a welcoming screen for the entry of the application , you can now see the options</p>

        </div>
        <div class="col-md-4 text-end ">
          <img src="../../assets/img/home/Group 48102098.svg" alt="">
        </div>
      </div>
    </div>
  </div>

</section>

<section class="my-3">
  <div class="recipes">
   <div class="container-fluid">
     <div class="row align-items-center justify-content-between py-5 ">
        <div class="recipes-text col-md-8 w-50 mx-5">
           <h2>Fill the <span>Recipes !</span> </h2>
           <p>you can now fill the meals easily using the table and form , click here and sill it with the table !</p>
        </div>
        <div class="col-md-4  text-end button mx-5">
         <button class="success  ">
          <span class="pe-3">Fill Recipes</span>
          <i class="fa-solid fa-arrow-right"></i>
         </button >
        </div>
     </div>
   </div>
  </div>
</section>
